@// Text colours
$headingColour: #B284BE !default;
$bodyColour: #0048BA !default;
$linkColour: #B284BE !default;
$hoverColour: #008000 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;
